*{
    margin: 0px;
    padding:0px;
}
/* navbar */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navh{
    margin: 20px;
    padding: 10px;
    font-weight: bold;
}
.hbtn{
  margin: 20px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid green;
  border-radius: 5px;
  color: green;
}
/* banner style */
.banner{
    display: flex;
    /* width: 90%;  */
    height: 220px; 
    border: none;
    align-items:center; 
    margin: 40px;
    padding: 20px;
    border-radius: 24px;
    background: rgb(198, 228, 214); 
    justify-content: space-evenly; 
}
.banner-content{
 padding: 10px;
}
.image{
    height: 200px;
    width: 300px;
    margin-top: 20px;
    margin-left: 20px;
}
.bd{
    margin-bottom: 10px;
    color: rgba(14, 14, 14, 0.5);
}
.button{
    padding: 5px;
    background-color:rgb(0, 106, 80);
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 10px;
}
/* The vision of future */
.ban{
    font-size: 12px;
    /* padding: 10px;
    margin: 20px; */
    padding: 5px;
}
.vision{
    margin: 40px;
    /* padding: 10px; */
    justify-content: center;
}
.card-1{
    align-items: center;
    margin: 10px;
    border:none;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(84, 144, 245, 0.2);
}
.card-2{
    align-items: center;
    margin: 10px;
    border:none;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(198, 228, 214);
}
.card-3{
    align-items: center;
    margin: 10px;
    border:none;
    border-radius: 10px;
    padding: 10px;
    background-color:rgb(247, 235, 207);
}
.next{
    display: flex;
    height: 100px; 
    border: red;
    align-items:center; 
    margin-top: 40px;
    /* padding: 20px;  */
    border-radius: 24px;
    justify-content: space-around;
    width: 100%;
}
.pera{
    font-size: 12px;
    padding: 5px;
}
.photo{
    width: 50px;
    height: 40px;
}
.btn1{
    border: none;
    border-radius: 5px;
   background-color: rgb(84, 144, 245);
   padding: 5px;
   margin: 5px;
}
.btn2{
    border: none;
    border-radius: 5px;
    background-color: rgb(9, 161, 92);
    padding: 5px;
    margin: 5px;
}
.btn3{
    border: none;
    border-radius: 5px;
    background-color:rgb(255, 194, 57);
    padding: 5px;
    margin: 5px;
    color: white;
}
/* Recent news */
.recent{
    /* display: flex; */
    height: 40px; 
    border: none;
    align-items:center; 
    margin: 30px; 
    padding: 30px;
    border-radius: 24px;
}
.pera-2{
    font-size: 14px;
    margin-bottom: 10px;
}
.Satellite{
    height: 150px;
    width: 200px;
    border-radius: 10px;
}
.third{
    display: flex;
    height: 220px; 
    border: none;
    margin: 30px;
    padding: 0px;
    border-radius: 24px;
    margin-top: 10px;
    background-color:rgb(248, 242, 233);
}
.resize{
    border:none;
    border-radius:10px;
    padding: 10px;
    margin-top: 30px;
    /* padding: 20px; */ 
}
.h4{
    margin-bottom:5px;
}
.pera-3{
   font-size: 10px; 
}
.date{ 
 font-size: 10px;
 margin-bottom: 5px;  
 } 
.jaz{
    /* height: 30px; */
    width: 60px;
    margin-bottom: 10px;
}
.third-button{
    text-align: center;
    background-color: green;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 10px;
    padding: 5px;
    margin-top: 10px;
}
.position{
    display: flex;
    margin: 40px;
    background-color: rgb(248, 242, 233);
    /* background-repeat: no-repeat; */
    box-shadow: white;
    border-radius: 10px;
}
.resize-again{
    margin-top:30px;
}
.last{
    max-width: 100%;
    height: 220px;
    margin: 30px;
    padding: 20px;
    align-items: center;
    background-color: #f0f8ff;
    border-radius: 20px;
}
.donate{
    text-align: center;
    padding: 5px;
    margin: 0px;
}
.aim{
    padding: 5px;
    font-size: 10px;
    /* justify-content: center; */
    margin: 10px;
}
.center{
    text-align: center;
}
.inline{
    display: flex;
    justify-content: space-evenly; 
    margin-bottom: 5px;
    text-align: center;
}
.mc{
    text-align: center;
    width: 100%;
    display: inline-block;
}
.taka{
    padding: 20px;
    text-align: center;
    border: none;
    border-radius: 10px; 
    margin-bottom: 10px;
    box-shadow: grey;
    background-color: white;
}
.in{
padding: 2px;
/* width: 100%; */
}
.bc{
    text-align: center;
}
.done{
    padding: 5px;
    border: none;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(0, 106, 80);
    color: white;
    font-size: 10px;
}
.boro{
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 2px;
    font-size: 10px;
}