*{
    margin: 0px;
    padding:0px;
}
/* navbar */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navh{
    margin: 20px;
    padding: 10px;
    font-weight: bold;
}
.hbtn{
  margin: 20px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid green;
  border-radius: 5px;
  color: green;
}
/* banner style */
.banner{
    display: flex;
    /* width: 90%;  */
    height: 220px; 
    border: none;
    align-items:center; 
    margin: 40px;
    padding: 20px;
    border-radius: 24px;
    background: rgb(198, 228, 214); 
    justify-content: space-evenly; 
}
.banner-content{
 padding: 10px;
}
.image{
    height: 200px;
    width: 300px;
    margin-top: 20px;
    margin-left: 20px;
}
.bd{
    margin-bottom: 10px;
    color: rgba(14, 14, 14, 0.5);
}
.button{
    padding: 5px;
    background-color:rgb(0, 106, 80);
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 10px;
}